<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/pessoas" method="POST">
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="pessoa[nome]" id="nome">
        </div>
        <div>
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="pessoa[sobrenome]" id="sobrenome">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" name="pessoa[email]" id="email">
        </div>
        <div>
            <label for="telefone">telefone</label>
            <input type="text" name="pessoa[telefone]" id="telefone">
        </div>
        <div>
            <label for="endereco">Endereço</label>
            <input type="text" name="pessoa[endereco]" id="endereco">
        </div>
        <button>Adicionar Pessoa</button>
    </form>
    <footer>
        <a href="/pessoas">voltar à lista</a>
    </footer>
</body>
</html>